* {
    font-family: Arial;
}
.nav {
    margin-top: 20px;
    grid-area: nav;
    background-color: limegreen;
    padding-top: 10px;
    padding-left: 10px;
}
.item a{
    color: white;
    font-size: 25px;
    line-height: 32px;
    text-decoration: none;

}
.item .active {
    color: gold;
}
.item:last-child {
    margin-top: 40px;
}