.friend {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friend__name {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}
.friend img {
    width: 30px;
    height: 30px;
}